* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Container Styles */

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}

.float-left{
    float: left;
}

/* List styles */

.list-inline li {
   display: inline-block; 
   text-transform: uppercase;
   font-size: 12px;
   padding: 0 8px;
}

/* HEADER */

.main-header {
    background-color: #0C325A;
    height: 500px;
    color: white;
}

.header-nav {
    line-height: 60px;
}

.main-header .logo {
     width: 15%;
 }

.main-header .nav-left {
    width: 45%;
 }

.main-header .nav-right {
     width: 40%;
 }