* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Container Styles */

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}

.float-left{
    float: left;
}

/* typography */

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

h1 {
    font-size: 40px;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}


/* Utilities */

.btn {
    min-width: 100px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.btn-green {
    border: none;
    background-color: #7CBB02;
}

.btn-large {
    padding: 10px 20px;
}

/* List styles */

.list-inline li {
   display: inline-block; 
   padding: 0 8px;
}

/* HEADER */

.main-header {
    background-color: #0C325A;
    height: 500px;   
}

/* HEADER | nav */

.header-nav {
    line-height: 60px;

}

.main-header .logo {
     width: 15%;
 }

.main-header .logo img {
    vertical-align: middle;
}

.main-header .nav-left {
    width: 45%;
}

.main-header .nav-right {
     width: 40%;
}

/* HEADER | jumbotron */

.jumbotron {
    height: 440px;
    background-image: url("../img/background-header.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;     
}

.jumbotron.container {
    position: relative;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

